@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic,latin);

html,
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    height: 100%;
}


a {
    color: #7e49c2;
}

a:hover {
    color: #e49cd1;
}

.page-header {
    padding-bottom: 9px;
    margin: 60px 0 20px;
}

.wrapper {
    padding: 50px 15px 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);
}

.navbar-inverse .navbar-brand {
    color: #c7a2a2;
}

.navbar .container {
    background-color: transparent;
}

.navbar li:hover {
    border-top: 7px solid #fcdbdf;
    margin-bottom: -7px;
}

#sub-nav {
    box-shadow: none;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .container {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);
    background-color: #f8f8f8;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 32px;
    font-weight: bold;
    line-height: 20px;
}

.item .col-xs-8 {
    padding: 0 10px;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.wrapper-blue {
    background-color: #279FBB;
    color: black;
}

.footer-wrapper {
    background-color: #383838;
    color: #C9C9C9;
}

.copyright {
    font-size: 11px;
    padding: 10px 0;
    background-color: #222;
    color: #C9C9C9;
}